@import "./partials/mixins";
@import "./partials/variables";

p,
li,
h1,
h2,
h3,
h4,
h5,
h6 {
    cursor: default;
}

body {
    background-color: $body-bg;
    // font-family: 'Poppins',sans-serif;
    font-family: 'Roboto', sans-serif;
}

button {
    border: none;
    outline: none;

}