@import "./common.scss";

aside {
    position: relative;
    height: 100%;
    max-height: 100vh;
    min-height: 100vh;
    width: $sidebar-width;
    background-color: $white;
    box-shadow: 1px 0 6px rgba(77, 77, 77, 0.1);
    padding: 2rem 1.5rem 2rem;
    transition: 0.5s ease all;

    &.active {
        width: $sidebar-active-width;
        padding: 2rem 1.5rem 2rem 1rem;

        .aside-body {
            ul.menus {
                li.menu {
                    text-align: center;
                    list-style-type: none;
                    margin: 0.25rem 0;
                    padding: 0.75rem 0.6rem;
                    color: #868B90;

                    .menu-cover {
                        i {
                            padding-left: 0.05rem;
                        }

                        .menu-name-count {
                            display: none;
                        }
                    }
                }
            }
        }

    }

    .aside-header {
        .profile {
            max-height: 55px;
            max-width: 55px;
            overflow: hidden;
            border-radius: 35%;

            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }

        }
    }

    .aside-body {
        ul.menus {
            padding-left: 0px;

            &.menus {
                margin-top: 2rem;
            }

            li.menu {
                list-style-type: none;
                margin: 0.25rem 0;
                padding: 0.75rem 0.6rem;
                color: #868B90;
                // display: none;
                transition: 0.5s ease all;

                .menu-cover {
                    width: 100%;
                    max-width: 100%;
                    display: flex;
                    align-items: center;

                    i {
                        padding-right: 0.5rem;
                    }

                    .menu-name-count {
                        width: 100%;
                        display: flex;
                        justify-content: space-between;

                        .menu-name,
                        .menu-count {
                            display: inline-block;
                        }

                        .menu-name {
                            display: none;
                        }

                        .menu-count {
                            background-color: $prime-blue;
                            color: $white;
                            width: 20px;
                            height: 20px;
                            @include flexMe(center, center);
                            border-radius: 8px;
                            font-size: 12px;
                        }

                    }
                }

                &.active {
                    // color: $white;
                    color: $black;
                    font-weight: bold;
                    // background-color: rgba(74, 117, 185, 0.541);
                    border: 2px solid $prime-blue;
                    border-radius: 8px;
                    cursor: pointer;
                }

                &:hover {
                    background-color: #eee;
                    border-radius: 8px;

                }

                &.active .menu-cover i {
                    font-weight: bold;
                }

                ul {
                    display: none;
                }
            }
        }
    }

    .aside-footer {
        // future development
    }

    .aside-icon {
        height: 30px;
        width: 30px;
        position: absolute;
        right: -1rem;
        top: 2rem;
        border-radius: 50%;
        background-color: $white;
        text-align: center;
        line-height: 1.8;
        box-shadow: $shadow-1;
        cursor: pointer;
        transition: 0.5s ease all;

        &.active {
            transform: rotate(180deg);
        }
    }
}

@media screen and (max-width: 767px) {
    aside {
        padding: 1rem 0.75rem;

        .aside-body {
            ul.menus {
                li.menu {
                    .menu-cover {
                        .menu-name-count {
                            .menu-count {
                                height: 14px;
                                width: 14px;
                                border-radius: 8px;
                                position: relative;
                                top: -0.5rem;
                            }


                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1024px) {
    aside {
        padding: 1rem 0.75rem;

        .aside-body {
            ul.menus {
                li.menu {
                    display: flex;

                    .menu-cover {
                        .menu-name-count {
                            .menu-name {
                                display: inline;
                            }
                        }
                    }
                }
            }
        }
    }
}